.register-child-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
fieldset {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px;
  margin: 0 auto;
}
fieldset > input,
button {
  width: 70%;
  margin: 10px auto;
  font-size: 1.1rem;
}

.select-category {
  width: 70%;
  margin: 0 auto;
}
