.child-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.add-info-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}
.child-container > h3 {
  /* border: 0.1px solid; */
  padding: 20px;
}
