.sign-up {
  margin-top: 50px;
}
form {
  font-size: 1.2rem;
  width: 500px;
  margin: 0 auto;
}
.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group > input {
  font-size: 1.2rem;
  border-radius: 10px;
  margin: 2px;
  padding: 5px;
}

.btn.btn-primary.btn-block {
  font-size: 1.2rem;
  border-radius: 10px;
  margin-top: 20px;
}
